* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

.container{
	width: 100%;
	min-height: 100vh;
	background-image: url('dl1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 8.5%;
	position: relative;
}
.navbar {
	width: 100%;
	display: flex;
	align-items: center;
}
.logo {
	width: 50px;
	cursor: pointer;
	margin: 30px 0;
}
.menu-icon {
	width: 25px;
	cursor: pointer;
	display: none;
}
nav {
	flex: 1;
	text-align: right;
}
nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

nav ul li a {
	text-decoration: none;
	color: brown;
	font-size: 14px;
	
}
nav ul li a:hover {
	background-color: rgba(182, 161, 9, 0.578);
	
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	
}

.col-1 {
	flex-wrap: wrap;
	position: relative;
	margin-top: 15%;

	
}
.col-1 h2 {
	color: gold;
	font-size: 20px;
}

.col-1 h3 {
	font-size: 90px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.col-1 a{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 30px;
	display: inline-block;
	border-radius: 6px;
	border: 2px solid brown;
	color: brown;
	padding: 5px 10px;
	text-decoration: none;
	margin-top: 10px;
	
}


.col-1 a:hover{
	background-color: rgba(182, 161, 9, 0.578);

}
span {
	color: brown;
}

.col-1 h4 {
	font-size: 20px;
}





.user-img{
	flex-wrap: nowrap;
	width: 350px;
	height: 500px;
	position: absolute;
	right: 9%;
	bottom: 0%;

}

/* ABOUT */

.about-container {
	margin: 35px auto;
	width: 60%;
	padding: 10px;
	flex-wrap: wrap;
}

.about-text {
	flex-wrap: wrap;
	flex-direction: row;
	text-align: justify;
	font-family: sans-serif;
	padding: 10px;
	color: rgb(199, 169, 1);
}

h5 {
	font-size: 2.5em;
	font-family: "Arvo", serif;
	text-transform: uppercase;
	font-weight: 400px;
	color: #7c0808;
	text-align: center;
}

.uniform text {
	padding-bottom: 10%;
}
.uniform {
	flex-wrap: wrap;
	float: left;
	width: 100x;
	height: 200px;
	border: 3px solid gold;
	border-radius: 50%;
	margin-right: 20px;
}

.skills {
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 35px auto;
	width: 60%;
}

.single-skills img {
	flex-wrap: wrap;
	width: 80px;
	height: 80px;
}
/* ABOUT */

/* WORKS */

.work-text {
	text-align: center;
}
h6 {
	font-size: 2.5em;
	font-family: "Arvo", serif;
	text-transform: uppercase;
	font-weight: 400px;
	color: #790a0a;
	text-align: center;
}
.work-container {
	align-items: center;
	margin: 35px auto;
	width: 60%;
	padding: 10px;
	flex-wrap: wrap;
}

.works-webdesign {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.webdesign-img img {
	display: flex;
	align-items: center;
	width: 270px;
	height: 270px;
	padding: 10px;
}
.certifications {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.certifications img {
	display: flex;
	align-items: center;
	width: 400px;
	height: 500px;
	padding: 10px;
}

.resume-container {
	background-color: rgb(255, 255, 255);
}

.contact-container {
	flex-wrap: wrap;
	background: url("images/top1.jpg") no-repeat center top;
	background-size: cover;
	background-position: center;
	min-height: 550px;
}

h1 {
	font-size: 2.5em;
	font-family: "Arvo", serif;
	text-transform: uppercase;
	font-weight: 400px;
	color: #7c0808;
	text-align: center;
}

input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type="submit"] {
	background-color: #04aa6d;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}
.input-container {
	margin: 55px auto;
	width: 60%;
	flex-wrap: wrap;
}

/* Style the container/contact section */

/* Create two columns that float next to eachother */
.left {
	float: left;
	width: 40%;
}

.right {
	text-align: center;
}

.right img {
	width: 40px;
	height: 40px;
}

/* IMAGE MODAL */

.con {
	position: relative;
	background: #595b5a5d;
}
.con .image-container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 10px;
}
.con .image-container .image {
	height: 250px;
	width: 350px;
	border: 5px solid #fff;
	box-shadow: 0 5px 15 px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	cursor: pointer;
}
.con .image-container .image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.2s linear;
}
.con .image-container .image:hover img {
	transform: scale(1.1);
}
.con .popup-image {
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0, 0.9);
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}
.con .popup-image span {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 60px;
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
	z-index: 100;
}
.con .popup-image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #fff;
	border-radius: 5px;
	width: 600px;
	object-fit: cover;
}


/* CONTACT-SECTION */

.right h11{
	font-size: 40px;
}

.right .img:hover .img{
	color: white;
}

@media (max-width: 768px) {
	.container .popup-image img {
		width: 95%;
	}
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.left,
	input[type="submit"] {
		width: 100%;
		margin-top: 0;
	}
}

@media only screen and (max-width: 700px) {
	nav ul {
		width: 100%;
		background-color: rgba(182, 161, 9, 0.578);
		position: absolute;
		top: 80px;
		right: 0;
		z-index: 2;
	}
	nav ul li {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a {
		color: #fff;
	}
	nav ul li a:hover {
		color: brown;
		display: block;
	}
	.menu-icon {
		display: block;
	}
	#menulist {
		overflow: hidden;
		transition: 0.5s;
	}
	.row {
		flex-direction: column-reverse;
		margin: 50px 0;
	}
	.col-1 h3 {
		font-size: 33px;
	}

	.col-1 h4 {
		font-size: 15px;
	}
}
